<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	</script>
</head>
<html layout:decorate="~{jjj/header}">
<div layout:fragment="content" class="container_my-find">
	<div class="my-3 border-bottom">
		<div id="">
			<h4 class="title_find_pw">아이디 찾기</h4>
			<p style="color:rgb(128, 128, 128);">회원가입 시 등록한 이메일 주소를 입력해 주세요.</p>
		</div>
	</div>
	<div class="mb-3">
		<input type="email" class="form-control" id="find_id_email" placeholder="                             이메일 주소 입력"
			style="width: 300px;">
		<div id="email-error">

		</div><br>
	</div>
	<input class="btn btn-outline-primary" id="check_email" type="button" value="아이디 찾기" onclick="checkEmail()">
	<br />
	<br />

</html>