<!DOCTYPE html>
<html>

<head>
<style>
/* 추가한 스타일 */
.nav-line {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 1px;
	background-color: black;
}

.nav-area {
	position: fixed;
	top: 0;
	left: 0;
	height: 92%;
	margin-top: 86px;
	width: 400px;
	background-color: rgb(255, 255, 255);
	/*overflow-y: scroll;*/
	/* Add scrollable area */
	display: flex;
	/* Add flexbox display */
	flex-direction: column;
	/* Set flex-direction to column */
}

#address-map {
	position: fixed;
	top: 0;
	left: 400px;
	width: calc(100% - 400px);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#map {
	width: 100%;
	height: calc(100% - 80px);
	margin-top: 92px;
}

.box {
	width: 85%;
	height: 80%;
	margin-right: 2px;
	border: 1px solid black;
	text-align: center;
	/* Added margin */
	padding: 10px 10px 10px 10px;
	margin-left: 20px;
	overflow: auto;
	margin-top: 50px;
	/* Added margin-top */
}

.output-item {
	width: 320px;
	height: 110px;
	border: 1px solid black;
	text-align: left;
	border-radius: 5px;
	padding-top: 15px;
	padding-left: 5px;
	font-size: 14px;
}

.output-item:hover {
	cursor: pointer;
}

.selected {
	background-color: rgb(255, 255, 128);
	font-weight: bold;
}

#daegu_top10_title {
	position: absolute;
	top: 50px;
	font-size: 18px;
	left: 55px;
	text-align: center;
}

.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
	
}

.info .desc {
	position: relative;
	margin: 13px 0 0 90px;
	height: 75px;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

.desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
	
}
</style>
<meta charset="utf-8">
<title>주소로 장소 표시하기</title>
</head>

<body>
	<div class="nav-line"></div>
	<!-- 네비게이션을 그리는 선 -->
	<div class="nav-area">
		<input type="button" id="current_me_position" value="내 현재 위치">
		<br> <span id="daegu_top10_title">요기어때가 추천하는 대구 여행 코스 ❤️</span>
		<div class="box"></div>
	</div>

	<header>
		<html layout:decorate="~{jjj/header}">
<div id="my_infomation_modify" layout:fragment="content"
	class="container my-3">
	</header>
	</div>

	<div id="address-map">
		<div id="map"></div>

		<script type="text/javascript"
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5084cc8a2f9c3459393c15e560d75404&libraries=services"></script>
		<script>
			fetchData();

			function fetchData() {
				var myurl = 'https://api.odcloud.kr/api/15087234/v1/uddi:927f8b4b-0241-4461-9924-f8dfffbe5394?page=1&perPage=36&serviceKey=OzZTUnMJGM1btfj8YuaBUFh5ZYDn85xrzW1n3S82xZEHM5pZI7D%2FVYzTXPfmQtxC5iY8pE9vmfFPf5qzo%2FKQnQ%3D%3D';
				$
						.ajax({
							url : myurl,
						})
						.done(
								function(response) {
									console.log(response);
									var items = response.data;
									var output = '';
									for (var i = 0; i < items.length; i++) {
										var item = items[i];
										var touristSite = item.관광지;
										var tel = item.전화번호;
										var address = item.주소;
										var region = item.지역;
										var homepage = item.홈페이지;
										var c = item["코스 주제"];
										var d = item["코스 주제 설명"];
										var e = item["코스설명2"];

										output += '<div class="output-item">';

										output += '<strong>관광지:</strong> <span class="touristSite"> '
												+ touristSite + '</span><br>';

										if (tel == null) {
											output += '<strong>전화번호:</strong> <span class="tel">053-803-4911</span><br>';
										} else {
											output += '<strong>전화번호:</strong> <span class="tel">'
													+ tel + '</span><br>';
										}
										if (address == null) {
											output += '<strong>주소:</strong><span class="address">경상북도 고령군 개진면 인안리</span><br>';
										}

										else if (address === "대구 동구 갓바위로 팔공산 갓바위상가번영회") {
											output += '<strong>주소:</strong><span class="address">대구시 동구 갓바위로 254</span>(갓바위상가번영회)<br>';
										} else if (address === "대구광역시 달성군 유가면 휴양림길 230 자연휴양림 내 해발 590m") {
											output += '<strong>주소:</strong><span class="address">대구광역시 달성군 유가면 230</span><br>';
										} else if (address === "대구광역시 달성군 구지면 구지서로 726") {
											output += '<strong>주소:</strong><span class="address">대구광역시 달성군 구지면 도동서원로 1</span><br>';
										} else if (address === "대구광역시 중구 동성로2길 27") {
											output += '<strong>주소:</strong><span class="address">대구 중구 용덕동 12</span><br>';
										
										} else {
											output += '<strong>주소:</strong><span class="address">'
													+ address + '</span><br>';
										}

										if (homepage != null) {
											if (homepage === "http://83tower.kr") {
												output += '<strong>홈페이지:</strong> <span class="homepage">'
														+ 'https:/eworld.kr/tower'
														+ '</span><br>';
											} else if (homepage === "http://www.sanghwa.or.kr") {
												output += '<strong>홈페이지:</strong><span class="homepage">'
														+ 'https://korean.visitkorea.or.kr'
														+ '</span><br>';

											} else if (homepage === "http://www.dgca.or.kr/") {
												output += '<strong>홈페이지:<span class="homepage">'
														+ 'https://tour.daegu.go.kr/'
														+ '</span><br>';
											} else if (homepage === "https://www.daegu.go.kr/cts/index.do?menu_id=00000910") {
												output += '<strong>홈페이지:<span class="homepage">'
														+ 'https://tour.daegu.go.kr/'
														+ '</span><br>';
											} else if (homepage === "http://www.riverguide.go.kr/kor/page.do?menuIdx=381") {
												output += '<strong>홈페이지:<span class="homepage">'
														+ 'http://www.riverguide.go.kr'
														+ '</span><br>';
											} else {
												output += '<strong>홈페이지:</strong><span class="homepage">'
														+ homepage
														+ '</span><br>';
											}
										} else {
											output += '<strong>홈페이지:</strong> 제공되는 홈페이지가 없습니다. <br>';
										}

										if (e.includes("우뚝")) {
											output += '<strong>코스 설명:</strong> <span class="course">도심 속에 우뚝 솟은 대구의 랜드마크인 두류공원(頭流公園) 내에 위치한 유럽형 테마공원에 조성된 83타워!</span><br>';

										}
										if (e.includes("3.1만세운동길")) {
											output += '<strong style="font-size:0px;"> 코스 설명:</strong> <span class="course" style="font-size:0px;">타임머신 타고 대구 근대골목으로! 역사의 숨결을 느껴보세요!</span><br>';
										}
										if (e.includes("동성로축제는")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">대구의 열정과 다채로움이 만나는 절묘한 조화! 함께 춤추고 놀아요!!</span><br>';
										}
										if (e.includes("비로암")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">희망과 신비, 역사의 미소가 어우러진 곳. 영원히 기억될 마법같은 체험을 누려보세요!!</span><br>';
										}

										if (e.includes("9년(1658년)")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">매년 5월초에는 대구약령시축제를 개최하여 약령시의 문화적 가치를 전국적으로 홍보함으로써 약령시와 한의약에 대한 국민적 관심과 사랑을 유도하는 약령시 축제!</span><br>';
										}

										if (e.includes("소원의")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">팔공산과 대구 시내 전경이 한눈에  6인승 케이블카를 타고 해발 820m까지 펀안하게 올라가보자!</span><br>';
										}
										if (e.includes("상실한다고")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">일제에 항거한 대구 출신의 독립운동가를 만난다  이상화 시인은 일제강점기에 민족의 광복을 위해 저항 정신의 횃불을 밝힌 시를 지었다. 그의 시향이 이상화고택에 남아 있다.</span><br>';
										}
										if (e.includes("고딕양식의")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">이국적인 성당을 거닐며 100년의 역사를 돌아보는  경상도에서 가장 오래된 성당!</span><br>';
										}

										if (e.includes("제29호로")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">1990년 12월 15일 대구광역시 유형문화재 제29호로 지정되었다. 재단법인 대구천주교회 유지재단의 소유로 되어 있다. 프랑스 루르드 동굴을 본떠서 만들었다고 하며, 전국적으로 유명한 천주교 성지이다.</span><br>';
										}
										if (e.includes("벨벳의")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">우아하고 아름다운 직물인 벨벳의 모든 것  벨벳으로 만든 의류, 홈데코, 가구, 벽지 등 벨벳의 무한 가능성을 만나는 벨벳 갤러리</span><br>';
										}
										if (e.includes("삼성그룹의")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">1938년 호암 이병철 회장이 삼성그룹의 모태인 삼성상회를 창업해 처음 사업을 시작했던 곳, 대구오페라하우스 앞에는 호암 동상이 자리해 있다.</span><br>';
										}
										if (e.includes("김광석의")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">김광석의 음악 인생이 녹아있는 골목에서 벽화 감상하기  방천시장 뒷골목, 350m 이어진 골목 담벼락에 김광석의 삶과 노래를 주제로 한 벽화가 실감나게 펼쳐진다.<br> 골목 가득 울려 퍼지는 김광석의 음악이 운치를 더한다</span><br>';
										}
										if (e.includes("상설시장")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">대구 최대의 상설시장, 야시장도 인기  조선시대 평양장, 강경장과 함께 전국'
													+ '<br>'
													+ '3대 장터를 방문해보자</span><br>';
										}
										if (e.includes("앞산케이블카")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">대구 시내를 조망할 수 있는 으뜸 명소  앞산케이블카를 타고 S자로 굽어지며 흐르는 낙동강을 시작으로 오른쪽으로 도시를 감싸는 산자락이 겹겹이 펼쳐진 대구를 둘러보자!</span><br>';
										}
										if (e.includes("한일월드컵")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">2002년 한일월드컵 대회, 2003대구하계유니버시아드대회를 성공적으로 개최하였으며 2011년 세계육상선수권대회를 유치하였다. 또한 주변의 수려한 자연환경과 깨끗한 시설로 주변시민들 뿐만 아니라 타지에서도 많은 관광객이 찾아오는 대구의 새로운 명소!</span><br>';
										}
										if (e.includes("김충선")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">조선으로 귀화한 일본 장수 김충선을 기리는 서원  임진왜란 때 귀화한 모하당 김충선을 추모하기 위해 건립한 서원! 김충선의 귀화 후 활약상을 보여주는 역사관, 체험실 등이 있다</span><br>';
										}
										if (e.includes("3전시장")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">대구미술관은 국내외의 근·현대미술을 소개하는 전시는 물론, 미술 강좌 등 다양한 교육프로그램 운영과 시민의 문화예술욕구에 부응하는 문화공간으로서의 역할을 담당하고 있다.</span><br>';
										}
										if (e.includes("메타세쿼이어숲")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">계절 내내 친환경 레저 체험을 즐길 수 있는 에코 테마파크  테마정원, 체험공방, 에코어드벤처 등 자연 속 놀거리, 체험거리가 한데 모여 있다  입구 메타세쿼이어숲에서 시작해 홍단풍길, 소나무가 우거진 피톤치드광장까지 길마다 수목이 울창하다  유럽식 자연친화형 레포츠인 에코어드벤처. 중간 중간 농경생활사박물관, 녹차원, 동물사육장, 허브정원, 전망대 등이 있어 지루할 틈이 없다</span><br>';
										}
										if (e.includes("워터파크")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">주암산 기슭 청정자연에서 물놀이와 온천 즐기기  워터파크, 온천, 숲 속 호텔, 동물원과 식물원이 한 자리에 있는 복합테마파크  맑은 공기를 마시며 한방과 힐링 콘셉트의 온천탕과 파도풀, 바데풀 등을 갖춘 워터파크를 즐길 수 있다</span><br>';
										}
										if (e.includes("버드나무")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">수변 산책과 분수쇼, 야경을 한 자리에서 즐기기  둘레 2km의 수성못을 따라 바늘꽃, 연꽃, 갈대 등이 어우러진 수변 데크 로드와 울창한 왕벚나무, 버드나무 가로수길이 펼쳐진다  밤에는 물 위에 비친 조명이 물감을 풀어 놓은 듯 아름답게 반짝인다</span><br>';
										}
										if (e.includes("참꽃축제")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">1986년 2월 22일 달성군 군립공원으로 지정되었다. 흙산이면서도 산세가 장중하고, 대견봉과 조화봉·관기봉 사이에는 341㏊에 달하는 비슬산 자연휴양림이 있어 삼림욕과 휴식을 즐길 수 있다. 또 봄이면 고지 30만 평에 걸쳐 진달래꽃이 흐드러지게 피어 장관을 연출한다. 매년 4∼5월에 참꽃축제를 열고, 민속놀이·먹을거리 장터 등의 부대 행사를 개최한다.</span><br>';
										}
										if (e.includes("디아크")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">물과 자연과 문화가 오롯이 담긴 건축예술품  강과 물, 자연을 모티브로 건축한 디아크는 예술적인 외관으로 사랑받는 장소</span><br>';
										}
										if (e.includes("수목원")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">쓰레기 매립장이 청정 수목원으로 재탄생  쓰레기 매립장이었던 장소를 활용해 만든 전국 최초의 도심형 수목원!</span><br>';
										}
										if (e.includes("우체통")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">옛 농촌 풍경이 마을 토담과 벽면을 가득 채운 정겨운 벽화마을  마을길을 따라 1960~70년대 정겨운 농촌 풍경이 벽화로 꾸며져 있다.  벽화 외에도 연리목과 물레방아, 옛 우물, 거북바위와 남근석 등 볼거리가 다양. 1년 뒤에 받아보는 느림보 우체통과 사랑의 자물쇠 코너는 특히 연인에게 인기!</span><br>';
										}
										if (e.includes("김굉필")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">아름드리 은행나무와 아름다운 토담을 품은 고즈넉한 서원  조선 초기의 성리학자 김굉필을 배향한 서원. 1568년 비슬산 동쪽에 건립되었다가 임진왜란 때 소실된 이후 지금 자리에 중건  조선 중기 서원 건축의 특징을 살필 수 있다!</span><br>';
										}
										if (e.includes("원두막에서")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">옛 나루터의 정취 가득한 먹을거리, 볼거리 많은 주막촌  과거 낙동강을 대표하던 나루터에 초가집, 원두막 등 옛날 분위기로 주막촌 개장  국밥, 전, 막걸리 등 먹을거리 판매, 야외 및 초가집과 원두막에서 식사 가능  낙동강 전망이 운치 있고 산책로, 분수대, 피아노 조형물 등 주변 경관이 잘 가꿔져 있다!</span><br>';
										}
										if (e.includes("전설을")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;"> 돌계단 1,365개 한 칸 한 칸 오르며 갓바위에서 소원 빌기  갓바위는 정성껏 기도하는 사람의 소원 한 가지는 꼭 들어준다는 전설을 간직하고 있다  갓바위가 있는 관봉에 올라서면 팔공산 능선과 구불구불한 길이 겹겹이 펼쳐진다  보물 제431호로 지정된 관봉석조여래좌상 앞에서 정성스레 기도를 올리는 사람들로 사시사철 붐빈다!</span><br>';
										}
										if (e.includes("폐철교")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">폐철교의 아름다운 변신, 마을과 마을을 잇는 인도교  기차가 다니던 철교가 마을과 사람을 잇는 인도교로 재탄생  낮과 밤 모두 금호강에 반사되는 인도교가 멋진 풍경을 만든다!</span><br>';
										}

										if (e.includes("유기문화실")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">방짜유기에 쉽고 재미나게 다가가는 방법  전국 유일의 방짜유기 박물관, 대구올레 팔공산 1코스에 있어 걷기 여행을 겸할 수 있다  유기문화실, 기증실, 재현실, 체험장 등을 통해 우리 고유 문화유산인 방짜유기와 제작 기술을 전승, 보존, 계승한다  우리나라 대표 방짜유기장인 이봉주 장인이 제작, 수집한 귀한 방짜유기를 감상할 수 있다!</span><br>';
										}
										if (e.includes("안전의식")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">시민 안전의식 함양의 장  지하철안전체험장, 생활안전체험장, 모노레일체험장 등 각종 안전체험장을 한 자리에서 경험. 소방관이 직접 심폐소생술(CPR) 등 체험을 도와 효과적인 학습 가능  자칫 지루할 수도 있는 안전체험이 다채로운 구성과 소방관의 열정적인 시범으로 활기를 띤다. 진지한 표정으로 체험에 임하는 아이들이 훗날 어떠한 사고에도 의연히 대처할 수 있을 것만 같아 흐뭇하다!</span><br>';
										}
										if (e.includes("명상")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">고즈넉한 산사에 머무르며 예불, 다도, 명상 등을 통해 자신의 참 모습을 되돌아보는 나를 찾아 떠나는 여행 체험!</span><br>';
										}
										if (e.includes("시설지구에서")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">수확의 계절 가을, 곱게물든 팔공산의 단풍과 정성껏 빌면 한가지 소원은 꼭 이루어 준다는 갓바위와 함께 다양한 행사 프로그램으로 팔공산 갓바위 시설지구, 팔공산 동화 시설지구에서 한해씩 교대 개최!</span><br>';
										}
										if (e.includes("코스낙동강자전거")) {
											output += '<strong style="font-size:0px;"> 코스 주제 설명:</strong> <span class="course" style="font-size:0px;">낙동강을 따라 시원하게 뻗은 자전거 길이나 가슴깊이 신선한 공기를 느낄 수 있는 대구수목원은 일상에 지친심신을 달래기에 충분한 곳이다. 그뿐인가 비슬산 암과류는 중생대에 만들어지는 자연의 명작이다. 무엇보다 이 모든 곳이 대구 시내에서그리 멀지않은 달성군에 오밀조밀 모여 있다는 것이 매력이다. 대구의 명소를 한가로이 누려 볼수 있는 대구 금수강산 느림보 코스는여행객의다양한 니즈를 충족시킨다.!</span><br>';
										}
										output += '</div><br>';
									}
									$('.box').html(output);
								}).fail(function() {
							alert('실패');
						});
			}

			kakao.maps
					.load(function() {
						var map;
						var marker;
						var selectedElement = null; // 클릭한 요소를 저장하는 변수

						function initializeMap(latitude, longitude) {
							var mapContainer = document.getElementById('map');
							var mapOption = {
								center : new kakao.maps.LatLng(latitude,
										longitude),
								level : 3
							};

							map = new kakao.maps.Map(mapContainer, mapOption);
							var mapTypeControl = new kakao.maps.MapTypeControl();

							// 지도에 컨트롤을 추가해야 지도위에 표시됩니다
							// kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
							map.addControl(mapTypeControl,
									kakao.maps.ControlPosition.TOPRIGHT);

							// 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
							var zoomControl = new kakao.maps.ZoomControl();
							map.addControl(zoomControl,
									kakao.maps.ControlPosition.RIGHT);
							// 주소-좌표 변환 객체를 생성합니다
							var geocoder = new kakao.maps.services.Geocoder();

							$(document).on('click','.output-item',function() {
								 $(this).css('display', 'block');
								 
								var tour = $(this).find('.touristSite').text();
								var address = $(this).find('.address').text(); // 클릭한 요소의 주소 값을 추출
								var tel = $(this).find('.tel').text();
								var d = $(this).find('.course').text();
								var home = $(this).find('.homepage').text();
												
								if (marker) {
									marker.setMap(null); // 이전 마커 제거
									}

									//console.log(home);
									if (address === "대구광역시 중구 일대") {
											address = '대구광역시 중구 서성로 10';
											}
									if (selectedElement !== null) {
										// 이전에 선택한 요소가 있을 경우 초기화
										selectedElement.removeClass('selected');
												}
									$(this).addClass('selected');
										selectedElement = $(this);

										geocoder.addressSearch(address,function(result,status) {
											if (status === kakao.maps.services.Status.OK) {
												var coords = new kakao.maps.LatLng(result[0].y,result[0].x);
														if (marker) {marker.setMap(''); // 이전 마커 제거
																		}
																		marker = new kakao.maps.Marker(
																			{
																					map : map,
																					position : coords,
																					clickable : true
																				});

												var linkHtml = '';
													if (home) {
														linkHtml = '<a href="' + home + '" target="_blank" class="link">홈페이지</a>';
															}
															var tourImage = '/img/tour/' + tour.replace(/\s/g, '') + '.jpg';
															var infowindowContent = '<div class="wrap">' + 
												               '    <div class="info">' + 
												               '        <div class="title">' + 
												                tour + 
												               '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
												               '        </div>' + 
												               '        <div class="body" >' + 
												               '            <div class="img">' +
												               '                <img src="' + tourImage + '" width="73" height="70">' +
												               '           </div>' + 
												               '            <div class="desc">' + 
												                address + 
												               '                <div class="jibun ellipsis">' + tel + '</div>' + 
												               '<a href="https://map.kakao.com/?q=' + address + '" target="_blank" class="link">길찾기  </a>'+ linkHtml +'<br>'+ 
												               
												               '            </div>' + 
												               '        </div>' + 
												               '    </div>' +    
												               '</div>';
																		var overlay = new kakao.maps.CustomOverlay(
																				{
																					content : infowindowContent,
																					map : map,
																					position : marker.getPosition(),
																				});

																		kakao.maps.event.addListener(marker,'click',function() {
																						overlay.setMap(map);
																						});

				
																		map.setCenter(coords);
																	}
																});
											});
						}

						function getCurrentPosition() {
							if ("geolocation" in navigator) {
								navigator.geolocation
										.getCurrentPosition(function(position) {
											var latitude = position.coords.latitude; // 현재 위치의 위도
											var longitude = position.coords.longitude; // 현재 위치의 경도

											if (marker) {
												marker.setMap(null); // 이전 마커 제거
											}
											initializeMap(latitude, longitude);
										});
							}
						}

						document.getElementById('current_me_position')
								.addEventListener('click', function() {
									getCurrentPosition();
								});

						getCurrentPosition();
					});
			
			$(document).on('click', '.close', function() {
				  $('.output-item').css('display', 'none');
				});

		</script>
	</div>

</body>

</html>
