<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>저기어때</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link rel="stylesheet" href="/css/kty.css">
	<script th:src="@{/js/kty_login.js}"></script>
	<!--<script th:src="@{/js/kty_join.js}"></script>-->
	 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>  <!-- sweetalert2 CDN-->
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script> <!-- 다음 주소 검색 api-->
	<link rel="stylesheet" href="/css/style.css">
</head>

<div class="container_my-3">
	<div class="my-3 border-bottom">
		<div>
			<h4 class="login_title">저기어때</h4>
		</div>
	</div>
	<form th:action="@{/user/login}" method="post">
		<div th:if="${error}">
			<div class="danger" th:text="${exception}">
				
			</div>
			
		</div>
		<div class="mb-login">
			<label for="username" class="form-label">사용자ID</label>
			<input type="text" name="username" id="username" class="form-control">
		</div>
		<div class="mb-login">
			<label for="password" class="form-label">비밀번호</label>
			<input type="password" name="password" id="password" class="form-control">
		</div>
		<br>
		    <input type="checkbox" class="form-check-input" id="remember" name="remember">
        <label class="form-check-label" for="rememberMe">7일간 로그인 유지</label><br><br> 
		<button type="submit" id="login_submit"  class="btn btn-primary">로그인</button><br><br>
		<a href="/user/find_id">아이디 찾기 </a> |
		<a href="/user/find_pw">비밀번호 찾기 </a> |
		<a href="/user/signup">회원가입</a>
	</form><br>
	<img src="/img/kakao_login.png" id="kakao_login_btn" ></img><br>
	<img src="/img/google_login2.png" id="google_login_btn" ></img><br>
	<img src="/img/naver_login.png" id="naver_login_btn" ></img>
	
</div>
