<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link rel="stylesheet" href="/css/kty.css">
	<script th:src="@{/js/kty_join.js}"></script>
	<script th:src="@{/js/kty_join.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> <!-- sweetalert2 CDN-->
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script> <!-- 다음 주소 검색 api-->
	<link rel="stylesheet" href="/css/style.css">
	<title>저기어때</title>
</head>

<body id="body-pd">
	<div class="l-navbar" id="navbar">
		<nav class="nav">
			<div>
				<div>
					<div class="nav__brand">
						<ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
						<a th:href="@{/user/mypage/me}" class="nav__logo">MyPage</a>
					</div>
					<div class="my-info">
						<a th:href="@{/user/mypage/me}" class="nav__link active">
							<ion-icon name="person-add-outline" class="nav__icon"></ion-icon>
							<span class="nav_name">회원정보 수정</span>
						</a>

						<a th:href="@{/user/mypage/my_reservations}" class="nav__link collapse">
							<ion-icon name="journal-outline" class="nav__icon"></ion-icon>
							<span class="nav_name">예약내역</span>
						</a>



						<a th:href="@{/user/mypage/my_wishlist}" class="nav__link collapse" id="mypage_toggleButton3">
							<ion-icon name="bag-outline" class="nav__icon"></ion-icon>
							<span class="nav_name">장바구니</span>
						</a>

						<a th:href="@{/user/mypage/my_inquiries}" class="nav__link" id="mypage_toggleButton4">
							<ion-icon name="headset-outline" class="nav__icon"></ion-icon>
							<span class="nav_name">문의내역</span>
						</a>
						<a th:href="@{/user/mypage/partner_registration}" class="nav__link" id="mypage_toggleButton5">
							<ion-icon name="chatbox-ellipses-outline" class="nav__icon"></ion-icon>
							<span class="nav_name">파트너 신청</span>
						</a>
					</div>
				</div>
		</nav>
	</div>
	<script th:src="@{/js/main.js}"></script>
	<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>

</html>