<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Info</title>
</head>
<body>
    <h1>회원정보 수정</h1>
    

      <div th:each="user : ${users}">
    <div th:text="${user.username}">Username</div><br/>
    <div th:text="${user.email}">User email</div><br/>
    <div th:text="${#temporals.format(user.create_userTime, 'yyyy-MM-dd HH:mm:ss')}">가입일</div><br/>
</div>
	<button type="button" onclick="removeMember();"> 탈퇴하기 </button>
    
</body>


<script>
	function removeMember() {
	if(window.confirm("탈퇴하시겠습니까?")){
	location.href="/user/userdel";
	}
}
</script>
</html>