<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>저기어때</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link rel="stylesheet" href="/css/kty.css">
	<script th:src="@{/js/kty_join.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> <!-- sweetalert2 CDN-->
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script> <!-- 다음 주소 검색 api-->
	<script th:src="@{/js/kty_mypage.js}"></script>
</head>

<body id="userinfo_modify">
	<div id="my_infomation_modify">

		<table class="userinfo_table">
			<td><img src="/img/profile_img/pro_img1.png" id="profile_lion" alt="프로필"></td>
			<tbody th:each="user : ${users2}">


				<tr>
					<td class="userinfo_td_gap"><strong>유저명</strong></td>
					<td class="userinfo_td_gap" th:text=" ${user.username}"></td>
				</tr>
				<tr>
					<td class="userinfo_td_gap"><strong>이메일</strong></td>
					<td class="userinfo_td_gap" th:text=" ${user.email}"></td>
				</tr>
				<tr class="mypage_tr_gap">
					<td colspan="3" class="userinfo_td_gap">
						<button class="btns-wrap__edit-btn" id="mypage_email_modify" type="button">수정</button>
					</td>
				</tr>
				<tr id="modify_email_input">
					<td colspan="4" class="userinfo_td_gap">
						이메일 <input type="text">
					</td>
				</tr>
				<tr class="mypage_tr_gap">
					<td class="userinfo_td_gap"><strong>상세 주소</strong></td>
					<td class="userinfo_td_gap" th:text="${user.addr3}"></td>
				</tr>
				<tr>
					<td colspan="3" class="userinfo_td_gap">
						<button class="btns-wrap__edit-btn" type="button">수정</button>
					</td>
				</tr>
				<tr>
					<td class="userinfo_td_gap"><strong>회원등급</strong></td>
					<td class="userinfo_td_gap" sec:authorize="hasRole('ROLE_USER')">일반회원</td>
					<td class="userinfo_td_gap" sec:authorize="hasRole('ROLE_PARTNER')">파트너회원</td>
					<td class="userinfo_td_gap" sec:authorize="hasRole('ROLE_ADMIN')">관리자</td>
				</tr>
				<tr>
					<td class="userinfo_td_gap"><strong>계정 생성일</strong></td>
					<td class="userinfo_td_gap" th:text="${#temporals.format(user.create_userTime,'yyyy-MM-dd')}"></td>
				</tr>

				<!-- 사이드 바 -->
				<nav id="mypage_sidebar_nav">
					<ul>
						<li class="mypage_sidebar"><a th:href="@{/user/mypage/me}" class="active">나의 정보</a></li>
						<li class="mypage_sidebar"><a th:href="@{/user/mypage/test}">예약 내역</a></li>
						<li class="mypage_sidebar"><a th:href="@{/user/mypage}">장바구니</a></li>
						<li class="mypage_sidebar"><a th:href="@{/user/mypage}">파트너 신청</a></li>
					</ul>
				</nav>

			</tbody>
		</table>

</body>
<script>

</script>
</div>