<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>저기어때</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link rel="stylesheet" href="/css/kty.css">
	<script th:src="@{/js/kty_join.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> <!-- sweetalert2 CDN-->
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script> <!-- 다음 주소 검색 api-->
	<script th:src="@{/js/kty_mypage.js}"></script>
</head>

<body id="userinfo_modify">
	<div id="my_infomation_modify">

		<table class="userinfo_table">
			<tbody>
			</tbody>
		</table>


		<!-- 사이드 바 -->
		<nav id="mypage_sidebar_nav">
			<ul>
				<li class="mypage_sidebar"><a th:href="@{/user/mypage/me}">나의 정보</a></li>
				<li class="mypage_sidebar"><a th:href="@{/user/mypage/test}">예약 내역</a></li>
				<li class="mypage_sidebar"><a th:href="@{/user/mypage}">장바구니</a></li>
				<li class="mypage_sidebar"><a th:href="@{/user/mypage/partner_reg}" class="active">파트너 신청</a></li>
			</ul>
		</nav>

</body>
<script>

</script>
</div>