<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>관리자 메인 페이지</title>
</head>
<body>
<div>
<h1>관리자 페이지</h1>
        <a href="/khk/adminMain">관리자 홈</a>
        |
        <a href="/khk/userListPage">회원 관리</a>
        |
        <a href="#">업체 관리</a>
        |
        <a href="#">권한 관리</a>
        |
        <a href="#">고객 지원</a>
        |
        <a href="#">신고 관리</a>
        |
        <a href="#">통계 / 분석</a>
        |
        <a href="/member/logout">로그아웃</a>
    </div>
</body>
</html>