
/* 회원가입 css */


	#username-error {
		font-size: 12px
	}

	#password1-error {
		font-size: 12px
	}

	#password2-error {
		font-size: 12px
	}

	#email-error {
		font-size: 12px
	}

	#inputCode_error {
		font-size: 1px;
	}

	#join_timer {
		 position: absolute;
		display: none;
		color: red;
		margin-left:450px;
		margin-top: 660px;
	
	}
	
	/*================================*/
	
	   .container_my-3 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            height: 100vh;
            /* 변경: 전체 뷰포트 높이로 설정 */
        }
		.join_title{
            font-family: 'Rubik Puddles', cursive;

            margin-left:30px;
            margin-top: 70px;
            font-size: 50px;
		}
		
		.mb-join {
            border-bottom: 2px solid #adadad;
            padding: 5px 10px;
            flex: 1;
        }
        
     	.join_username,
        .join_password1,
        .join_password2
         {
            width: 100%;
            border: none;
            outline: none;
            color: #636e72;
            font-size: 13px;
            height: 25px;
            background: none;
        }


		.join_email, #inputCode
		{
			border: none;
		}

		.addr1,
        .addr3{
			border: none;
			width: 180px;
		    /* text-decoration: underline; */
		}
		.addr2{
			border: none;
			width: 300px;
		    /* text-decoration: underline; */
		}



	.checkEmailNumber{
		background-color: #77af9c;
		color: rgb(244, 245, 244);
		height: 40px;
            /* 버튼 디자인 */
            border: none;
            display: inline-block;
            border-radius: 15px;
            font-weight: 600;
            margin-left: 110px;
	}
	
	.find_addr1{
		background-color: #77af9c;
		color: rgb(244, 245, 244);
		height: 40px;
            /* 버튼 디자인 */
            border: none;
            display: inline-block;
            border-radius: 15px;
            font-weight: 600;
            margin-left: 100px;
	}
	
	
	.find_addr1:hover{

		   cursor: pointer;
	}
	
	.checkEmailNumber:hover{

		   cursor: pointer;
	}

	.join_check{
		background-color: #77af9c;
		color: rgb(244, 245, 244);
		height: 40px;
            /* 버튼 디자인 */
            border: none;
            display: inline-block;
            border-radius: 15px;
            font-weight: 600;
            margin-left: 110px;
	}
	.join_check:hover{

		   cursor: pointer;
	}

	#join_up{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  bottom: -20px;
  width: 100%;
  right: -5px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#join_up:hover{
  background:hsl(166, 81%, 84%);
  color:hsl(166, 74%, 39%);
}
#join_up:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#join_up:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#join_up:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}






/* 로그인 css */

 .container_my-3 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            height: 100vh;
            /* 변경: 전체 뷰포트 높이로 설정 */
        }
		.login_title{
            font-family: 'Rubik Puddles', cursive;

            margin-left:30px;
            margin-top: -70px;
            font-size: 50px;
		}
		
		.mb-login {
            border-bottom: 2px solid #adadad;
            padding: 10px 10px;
            flex: 1;
        }
        
        
       #username,
       #password
         {
            width: 100%;
            border: none;
            outline: none;
            color: #636e72;
            font-size: 16px;
            height: 25px;
            background: none;
        }
        
        #login_submit{
				background-color: #77af9c;
		color: rgb(244, 245, 244);
		height: 40px;
            /* 버튼 디자인 */
            border: none;
            display: inline-block;
            border-radius: 15px;
            font-weight: 600;
            margin-left: 50px;
            width: 200px;
		}
		
		#login_submit:hover{
			  cursor: pointer;
		}
		a {
		color: inherit;
		text-decoration: none;
	}
	#kakao_login_btn,
	#google_login_btn,
	#naver_login_btn{
		width: 350px;
		border: 1px solid rgb(192, 192, 192);
	}
	
	

	#kakao_login_btn,
	#google_login_btn,
	#naver_login_btn:hover{
		 cursor: pointer;
		}
		
	.danger{
		font-size: 13px;
		text-align: center;
		color: rgb(255, 128, 64);
	}
	
